NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

SPOTIFY_CLIENT_ID=49353da3edee40fab863fcfead92987c
SPOTIFY_CLIENT_SECRET=a15db48519464304bb27da9c81408837
SPOTIFY_REDIRECT_URI=https://hips-app.vercel.app/api/spotify/callback
# Base64 de 32 bytes. Generar con: openssl rand -base64 32
SPOTIFY_TOKEN_ENCRYPTION_KEY=+McTDciT1lBxpMIryabm8mOfsgl18mY3yODJDS4ZmWE=
